{% extends 'toDo/base.html' %}
{% load dateTimeExtras %}
{% load capitalizer %}
{% block title %}
    Task
{% endblock %}
{% block body %}
    <div>
        <ul>
            {% for task in tasks %}
                <li>
                    <a href={{ "/showTaskDetail/"|add:task.title }}>
                        {{ task.title|capitalize }}
                    </a>
                </li>
                <p>{% subDateTime task.schedule %}</p>
            {% endfor %}
        </ul>
    </div>
    <div>
        {% if sorted %}
        <a href="{% url 'showTasks' %}">
            undo sort
        </a>
        {% else %}
        <a href="{% url 'showTasks' 'schedule' %}">
            sort by schedule
        </a>
        {% endif %}
    </div>
    <div>
        <a href="{% url 'downloadTasks' %}">
            Download Tasks
        </a>
    </div>
{% endblock %}