{% extends 'toDo/base.html' %}
{% load capitalizer %}
{% block title %}
    Categories
{% endblock %}
{% block body %}
     <div>
        <h1>Categories</h1>
        <ul>
        {% for category in category_task %}
            {% if category.tasks|length > 0 %}
                <li>
                    <a href="{% url 'showCategoryDetail' category.key %}">
                        {{ category.key|capitalize }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
    <div>
        <h1>Categories with no task</h1>
        <ul>
        {% for category in categoriesNoTask %}
                <li>
                    <a href="{% url 'showCategoryDetail' category.category %}">
                        {{ category.category|capitalize }}
                    </a>
                </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}